# core scientific stack

numpy==1.25.2
pandas==2.2.3
scipy==1.9.3

# visualization

matplotlib==3.9.3
seaborn==0.13.2

#machine learning utilities

scikit-learn==1.5.0

#deep learning

tensorflow==2.15.0
